/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {	
	
}
/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 650px) {
	.templatemo-content-container .auth-expired{
	    left: 10%;
	}
}
/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 570px) {
	.templatemo-content-container .auth-expired{
	    left: 5%;
	}
}
/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 570px) {
	.templatemo-content-container .auth-expired{
	    left: 5%;
	}
}
/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 550px) {
	.templatemo-content-container .auth-expired{
	    left: 0%;
	}
}
/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 485px) {
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .search input[type='text']{
	    width: 300px;
	}
	.templatemo-content-container .confirmation {
	    display: none;
	    background-color: #78b1a6;
	    position: fixed;
	    width: 100%;
	    border-radius: 5px;
	    box-shadow: 2px 2px 10px black;
	    top: 10%;
	    left: 0;
	    height: 120px;
	    z-index: 20;
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div {
	    border: 2px solid lightgray;
	    box-shadow: 2px 2px 2px darkgrey;
	    margin: 10px 0px;
	    padding: 5px 0px;
	    font-size: 10px;
	    background: linear-gradient(to right, #1e4d54 0px, #1e4d54 100px, #177171 100px);
	    font-weight: bold;
	    display: table;
	    width: 100%;
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div label {
	    width: 100px;
	    clear: both;
	    display: table-cell;
	    vertical-align: middle;
	    text-align: left;
	    padding: 0px 5px;
	}
	.templatemo-content-container .search {
	    display: none;
	    position: fixed;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    z-index: 1000;
	    color: white;
	    background-color: rgba(0, 100, 110, 0.95);
	}
	.templatemo-content-container .auth-expired{
	    left: 0%;
	    width: 100%;
	}
}
/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 410px) {
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item{
		width: 100%;
		padding: 15px 5px;
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item audio{
		width: 100%;
	}
	.templatemo-content-container>.preview-widget>.preview-widget-buttons>div.save-button {
	    display: inline-block;
	    padding: 3px 30px;
	    border-radius: 4px;
	    box-shadow: 2px 2px 20px black;
	    margin-left: 15px;
	    font-weight: bold;
	    font-size: 13px;
	    background-color: #c3e5ea;
	    color: black;
	    font-family: monospace, serif;
	    float: right;
	}
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}

/* iPhone 4 - 5s ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (max-device-width: 667px) only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width : 414px) only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/
}

/* Samsung Galaxy S7 Edge ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 192dpi)and max-width:640px) {
  background-image: url('https://i.ytimg.com/vi/zhBxfNm3rJE/maxresdefault.jpg');
}