a:hover{
	cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgray;
}

::-webkit-input-placeholder{
	color: lightgray;
}

.search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999999;
    opacity: 1; /* Firefox */
}
.search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999999;
}
.search input::-ms-input-placeholder { /* Microsoft Edge */
    color: #999999;
}
.fixed-position{
	position: fixed;
}
a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.templatemo-top-nav-container .row{
	position: relative;
}
.templatemo-top-nav-container .row .buttons{
	display: flex;
    position: absolute;
    top: -10px;
    right: 0px;
}
.templatemo-top-nav-container .row .buttons .profile-btn{
	width: 40px;
    height: 40px;
}
.templatemo-top-nav-container .row .buttons .profile-btn img{
	border-radius: 24px;
    opacity: 0.7;
}
.templatemo-top-nav-container .row .buttons .profile-btn img:hover{
	cursor: pointer;
	opacity: 1;
}
.templatemo-content-container {
    /* padding: 40px 50px; */
    position: relative;
}
.templatemo-content-container .fa{
	margin-right: 5px;
}
.templatemo-search-form .input-group .form-control{
	padding: 0 30px;
}
.templatemo-search-form .input-group .fa-cog{
	height: 32px;
    width: 32px;
    border: none;
    cursor: pointer;
    color: white;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
} 
.table>tbody>tr>td>input[type='checkbox']{
	width: inherit;
}
.templatemo-content-widget table>tbody>tr>td{
	margin: auto;
	vertical-align: middle;
}

.templatemo-content-widget table>tbody>tr>td img{
	width: 50px;
	height: 50px;
}

.templatemo-content-widget table>tbody>tr>td.bold{
	color: blue;
	text-align: left;
	font-weight: bolder;
}
.templatemo-content-widget table>tbody>tr>td>span{
	display: block;
}
/* .preview-widget-content .templatemo-content-widget table>thead>tr>td:nth-child(2){
	width: 15%;
} */
.preview-widget-content .templatemo-content-widget table>thead>tr>td.extend{
	width: 60%;
}
.templatemo-content-widget table>tbody>tr>td>a.templatemo-keyword-link{
	margin-right: 5px;
}
.new-btn,
.save-btn{
	display: inline-block;
    background-color: darkgreen;
    margin-left: 10px;
    padding: 5px 48px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 2px 10px cadetblue;
    z-index: 5;
}

.new-btn:hover,
.save-btn:hover{
	cursor: pointer;
	background-color: lawngreen;
	color: black;
}
.new-btn>a,
.save-btn>a{
	color: inherit;
}
.splitter{
    height: 5px;
    background-color: #009688;
    border-radius: 5px;
}
.templatemo-content-container>.preview-widget .preview-widget-title{
    text-align: center;
    padding: 7px 0px;
    font-size: 27px;
    font-family: serif;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 8px;
    margin: 0 20%;
    background: linear-gradient(to right, #17636f 0%, #39adb4 20%, #17636f 20%, #39adb4 35%, #17636f 30%);
    color: white;
    box-shadow: 1px 10px 20px #39adb4;
}
.templatemo-content-container>.preview-widget .preview-widget-title>span{
	display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.templatemo-content-container>.preview-widget .preview-widget-title>span:first-child{
	float: left;
	width: 20%;
}
.templatemo-content-container>.preview-widget .preview-widget-title>span:nth-child(2){
	float: left;
	width: 15%;
}

.templatemo-content-container>.preview-widget{
    color: white;
    background-color: rgba(0,100,100,0.9);
    border-radius: 10px;
    box-shadow: #d6b8b8 8px 8px 10px;
    padding: 20px;
    -webkit-transition: top 2s ease-in 1s;
    -o-transition: top 2s ease-in 1s;
    -moz-transition: top 2s ease-in 1s;
    transition: top 1s ease-in 0.2s, width 1s ease-in 0.2s, height 1s ease-in 0.2s, right 1s ease-in 0.2s, opacity 2s ease-in 0.2s;
}

.templatemo-content-container>.preview-widget.pop-hidden{
	opacity: 0;
	z-index: -10;
	top: 30%;
	right: 35%;
	width: 20%;
	height: 30%;
}

.templatemo-content-container>.preview-widget>.preview-widget-close{
	float: right;
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #d0cdcd;
    padding: 0 5px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #83bbb9;
}

.templatemo-content-container>.preview-widget>.preview-widget-close:hover{
	background-color: #17b9b9;
}

.templatemo-content-container>.preview-widget h2.popup-title{
	font-size: 1.6em;
    border-bottom: 2px solid white;
    display: inline-block;
    padding: 5px;
    max-width: 90%;
    min-width: 30%;
}

.templatemo-content-container>.preview-widget h2.popup-title.error{
	border-bottom: 2px solid red;
}

.templatemo-content-container>.preview-widget .preview-widget-container table tbody td.error{
	 border: 2px solid red;
}

.templatemo-content-container .profile .tab_users .profile-widget-buttons,
.templatemo-content-container>.preview-widget>.preview-widget-buttons{
	margin: 20px 10px 10px 10px;
}

.templatemo-content-container .profile .tab_users .profile-widget-buttons>div,
.templatemo-content-container>.preview-widget>.preview-widget-buttons>div{
	display: inline-block;
    padding: 3px 15px;
    border-radius: 4px;
    z-index: 10;
    box-shadow: 2px 2px 20px black;
}

.templatemo-content-container .profile .tab_users .profile-widget-buttons>div{	
	box-shadow: 1px 1px 5px #372020;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .provider-responsive>h2,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .provider-responsive>div.select-div{
	display: inline-block;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .provider-responsive>div.select-div>select{
	font-size: 15px;
    margin-left: 20px;
    border: 1px solid white;
    background-color: rgba(20, 20, 100, 0.15);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content fieldset>legend{
	color: white;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content fieldset>legend span{
	font-size: 10px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive fieldset>legend span{
    font-size: 18px;
    color: lightgreen;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .songs-responsive,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .tags-responsive
{
	margin-top: 10px;
	background: rgba(10, 10, 10, 0.04);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .songs-responsive .songs{
    border: 1px solid darkslategray;
    border-radius: 6px;
    background: white;
    color: black;
    font-weight: bold;
    font-family: serif;
    font-size: 12px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .songs-responsive .songs .song{
    display: inline-block;
    position: relative;
    padding: 3px 10px;
    width: 49.7%;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .songs-responsive .songs .song:not(:last-child){
	border-bottom: 1px solid darkgray;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .songs-responsive .songs .song>span.index{
	margin-right: 5px;
    font-weight: bolder;
    color: #bababa;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .songs-responsive .songs .song .assign{
    display: inline-block;
    width: 37px;
    height: 14px;
    top: 4px;
    right: 5%;
    position: absolute;
    margin: 0;
    padding: 0px;
    cursor: pointer;
    background: url(../images/assign.png);
    background-size: cover;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .songs-responsive .songs .song .unassign{
    display: inline-block;
    width: 37px;
    height: 14px;
    top: 4px;
    right: 5%;
    position: absolute;
    margin: 0;
    padding: 0px;
    cursor: pointer;
    background: url(../images/unassign.png);
    background-size: cover;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .songs-responsive .songs .song .assign>img{
	width: 100%;
	height: 100%;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .dates,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .place,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .url,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .tel,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .general{
   	border: 2px solid lightgray;
    box-shadow: 2px 2px 2px darkgrey;
    padding: 15px;
    margin: 10px 0px;
    min-width: 210px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .dates>div,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .place>div,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .tel>div,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .general>div{
	display: inline-block;
    margin-right: 10px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .place>div>label,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .dates>div>label,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .tel>div>label{
    width: 80px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .place>div>input,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .dates>div>input,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .tel>div>input{
    width: 180px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .url{
    display: table;
    width: 100%;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .url>label{
	width: 150px;
    display: table-cell;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .url>input{
    width: 100%;
    display: table-cell;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content input{
	font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color .1s;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content input:visited{
	border: none;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content input[type='radio']{
	display: inline;
	margin: 0 5px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .panel-default{
	margin: 15px 0;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive{
	
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div{
    border: 2px solid lightgray;
    box-shadow: 2px 2px 2px darkgrey;
    margin: 10px 0px;
    padding: 5px 0px;
    font-size: 14px;
    background: linear-gradient(to right, #1e4d54 0px, #1e4d54 150px, #177171 150px);
    font-weight: bold;
    display: table;
    width: 100%;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div label{
   	width: 150px;
    clear: both;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 0px 10px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive input{
	display: none;
	border: none;
	width: 80px;
	min-width: 80px;
	max-width: 200px;
	outline-width: 0;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div .render,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div .render-list{
    text-align: left;
    width: 100%;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div .render-list .selected-list{
	display: inline;
    margin: 0;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div .render-list .selected-list>span{
	display: inline-block;
    background-color: azure;
    padding: 1px 3px;
    border: 1px solid #17b7c0;
    border-radius: 2px;
    color: #2b42a1;
    margin: 0px 2px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div .render-list .selected-list>span.item{
	cursor: pointer;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div .render-list .selected-list .item-close{
	background-image: url(../images/close.png);
    width: 13px;
    height: 13px;
    background-size: cover;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    margin-left: 1px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div .render-list .selected-list .item-close:hover{
	background-color: lightgrey;
    cursor: pointer;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div .render-list .autocomplete-dropdown{
	display: inline-block;
    width: initial;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive>div .render-list .autocomplete-dropdown input{
	border: none;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive{
	
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-song-table,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-album-table{
	display: none;
	width: 100%;
    table-layout: fixed;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-song-table>thead,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-album-table>thead{
	background-color: rgba(255,255,255,0.3);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-song-table>thead>tr>th,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-album-table>thead>tr>th{
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-song-table>tbody,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-album-table>tbody{
	border: 1px solid rgba(255,255,255,0.3);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-song-table>tbody>tr,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-album-table>tbody>tr{
	cursor: pointer;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-song-table>tbody>tr:hover,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-album-table>tbody>tr:hover{
	background-color: darkslategray;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-song-table>tbody>tr>td,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-album-table>tbody>tr>td{
	padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-song-table>tbody>tr>td:nth-child(2),
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-album-table>tbody>tr>td:nth-child(2){
	padding: 0;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-song-table>tbody>tr>td img,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .assign-responsive table.assign-album-table>tbody>tr>td img{
	width: 40px;
	height: 40px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .add-file-button,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .add-file-button,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .lyrics-responsive .add-file-button,
.profile .profile-photo-group .profile-photo{
	height: 100px;
    border: 2px dashed #b0cdcb;
    display: inline-block;
    padding: 0;
    width: 100px;
    border-radius: 5px;
}
.profile .profile-photo-group .profile-photo{
	width: 200px;
	height: 200px;
}
.profile .profile-photo-group .profile-photo{
	position: relative;
	background-image: url(../images/user.png);
	background-repeat: no-repeat;
    background-size: contain;
}
.profile .profile-photo-group .profile-photo img{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.profile .profile-photo-group .profile-photo img:hover{
    opacity: 0.7;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .add-file-button:hover,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .add-file-button:hover,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .lyrics-responsive .add-file-button:hover,
.profile .profile-photo-group .profile-photo:hover{
	cursor: pointer;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .add-file-button>.add-sign,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .add-file-button>.add-sign,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .lyrics-responsive .add-file-button>.add-sign{
	background-size: 50%;
    background-position: 50%;
    background-image: url(../images/plus-sign.png);
    height: 100%;
    background-repeat: no-repeat;
    opacity: 0.7;
}
.profile .profile-photo-group .profile-photo>.add-sign{
	position: relative;
    background-size: 50%;
    background-position: 50%;
    background-image: url(../images/camera-photo.png);
    height: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 1;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .add-file-button>.add-sign:hover,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .add-file-button>.add-sign:hover,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .lyrics-responsive .add-file-button>.add-sign:hover,
.profile .profile-photo-group .profile-photo>.add-sign:hover{
	opacity: 1;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive input[type='file'],
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive input[type='file'],
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .lyrics-responsive input[type='file'],
.profile .profile-photo-group input[type='file']{
	display: none;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .photos,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .lyrics-responsive .lyrics{
	display: inline;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .photos>.photo{
	position: relative;
	display: inline-block;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .lyrics-responsive .lyrics>.item{
	display: inline-block;
    width: 312px;
    height: 100px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 30px 5px;
    margin: 0 10px 15px 0;
    vertical-align: top;
    box-shadow: 2px 2px 2px darkgrey;
    position: relative;
    text-align: center;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .lyrics-responsive .lyrics>.item{
	width: 100%;
    height: 200px;
    padding: 5px 10px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .lyrics-responsive .lyrics>.item>textarea{
	width: 97%;
    height: 100%;
    text-align: right;
    direction: rtl;
    resize: none;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .photos>.photo>img{
	width: 100px;
	height: 100px;
	margin-right: 5px;
	vertical-align: inherit;
	background-image: url(../images/mazika.png);
    background-size: cover;
    box-shadow: 2px 3px 2px darkslategrey;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item>img{
	width: 90px;
	height: 90px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .photos>.photo>img:hover{
    
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item audio{
	display: block;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item video{
	
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .photos>.photo:hover{
	opacity: 0.8;
	cursor: pointer;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .photos>.photo.transparent,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item.transparent{
	opacity: 0.8;
}
.preview span.close,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .photos>.photo span.close,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item span.close,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .lyrics-responsive .lyrics>.item span.close{
	width: 15px;
    height: 15px;
    background-image: url(../images/close-icon.png);
    background-size: cover;
    position: absolute;
    top: 3px;
    right: 8px;
    opacity: 0;
    z-index: 10;
}
.preview span.close{
	opacity: 1;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .photos>.photo span.close:hover,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item span.close:hover,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .lyrics-responsive .lyrics>.item span.close:hover{
	opacity: 1;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .photos>.photo span.load,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item span.load{
	width: 40px;
    height: 40px;
    background-image: url(../images/loading.gif);
    background-size: cover;
    position: absolute;
    top: 30%;
    left: 30%;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .photos>.photo span.error,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item span.error{
	width: 30px;
    height: 30px;
    background-image: url(../images/warning.png);
    background-size: cover;
    position: absolute;
    bottom: 1px;
    right: 5px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .photos-responsive .photos>.photo input[type='checkbox'].main-photo-checkbox{
	display: none;
	position: absolute;
    bottom: 4px;
    right: 5px;
    background: transparent;
    cursor: pointer;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive .album{
	display: inline-block;
    width: 49%;
    min-height: 200px;
    vertical-align: top;
    background: #166d6d;
    padding: 5px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    border: 1px solid darkcyan;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive .albums a{
	color: white;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive a:hover{
	opacity: 0.8;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive .album .photo{
    width: 110px;
    height: 110px;
    vertical-align: top;
    float: left;	
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive .album .content{
    height: 100%;
    margin-left: 0px;
    padding-left: 120px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive .album .content .content-header{
    padding: 2px 10px;
    font-size: 15px;
    line-height: 1.5;
    margin: 5px 1px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive .albums .content-header .artists a{
	color: powderblue;
    margin-right: 2px;
    border-radius: 4px;
    padding: 0 2px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive .albums .content-header .artists a:hover{
	color: black;
	background-color: lightgrey;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive .album .content .content-body{
    padding: 1px 10px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive .album .content .content-body .songs .song{
    border: 1px solid cadetblue;
    padding: 2px 5px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive .album .content .content-body .songs .song .song-photo{
	width: 4%;
    display: inline-block;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive .album .content .content-body .songs .song .song-content{
	width: 94%;
    display: inline-block;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .events-responsive .events .event{
    display: inline-block;
    width: 110px;
    height: 110px;
    border: 1px solid ghostwhite;
    box-shadow: 2px 2px 2px darkgrey;
    overflow: hidden;
    margin: 5px;
    padding: 0;
    background-color: floralwhite;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .events-responsive .events .event>a>img{
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    background: none;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .events-responsive .events .event>a>span{
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 12px;
    outline: 0;
    padding: 5px;
    overflow: hidden;
    position: relative;
    opacity: 0.95;
    font-weight: bold;
    background-color: #00BCD4;
    transition: .3s all ease;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive{
	position: relative;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .add-button{
    width: 35px;
    height: 35px;
    background: url(../images/plus-sign.png);
    background-size: cover;
    position: absolute;
    top: 32px;
    right: 2px;
    border: 1px dashed white;
    border-radius: 1px;
    cursor: pointer;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials{
    margin-top: 17px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social{
	width: 49%;
    display: inline-block;
	background: rgba(10, 100, 100, 0.3);
    padding: 2px 2px;
    line-height: 28px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social:hover{
	background: rgb(23, 99, 111);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social>input{
	width: 80%;
    color: black;
    background: white;
    vertical-align: middle;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social.new>input{
	/* width: 77%; */
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social select,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item select,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .group-responsive .type select{
    margin: 0 3px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    padding: 2px 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color .1s;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social select{
	width: 90px;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item select{
	display: block;
    margin: 6px auto;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .content-responsive .content>.item span.quality{
	font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    padding: 2px 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color .1s;
    display: inline-block;
    margin: 6px auto;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .social-close{
	background: url(../images/minus-white.png);
    background-size: cover;
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 2px darkslategrey;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo{
    display: inline-block;
    width: 90px;
    height: 25px;
    margin: 0;
    vertical-align: middle;
    box-shadow: 2px 2px 2px darkslategrey;
    border-radius: 3px;
    background-size: cover;
    /* box-shadow: 2px 2px 2px lawngreen; */
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .social-close:hover{
	box-shadow: 1px 1px 25px darkseagreen;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-facebook{
	background-image: url(../images/socials/facebook.png);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-linked_in{
	background-image: url(../images/socials/linkedin.png);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-google_plus{
	background-image: url(../images/socials/google-plus.png);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-vine{
	background-image: url(../images/socials/vine.png);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-flickr{
	background-image: url(../images/socials/flickr.jpg);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-instagram{
	background-image: url(../images/socials/instagram.jpeg);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-quora{
	background-image: url(../images/socials/quora.png);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-reddit{
	background-image: url(../images/socials/reddit.png);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-biz_sugar{
	background-image: url(../images/socials/bizsugar.gif);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-ask_fm{
	background-image: url(../images/socials/ask-fm.jpg);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-youtube{
	background-image: url(../images/socials/youtube.png);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-meetup{
	background-image: url(../images/socials/meetup.png);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-pinterest{
	background-image: url(../images/socials/pinterest.jpg);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-tumblr{
	background-image: url(../images/socials/tumblr.png);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-vk{
	background-image: url(../images/socials/vk.jpg);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-snapchat{
	background-image: url(../images/socials/snapchat.png);
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-twitter{
	background-image: url(../images/socials/twitter.png);
}

.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .tags-responsive .tags{
	color: black;
	padding: 5px;
	min-height: 50px;
	cursor: text;
	border-radius: 5px;
	background-color: white;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .tags-responsive .tags input{
	outline: none;
	border: none;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .tags-responsive .tags input:focus{
 	outline: none;
	border: none;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .tags-responsive .tags div{
	display: inline-block;
	color: black;
	margin-right: 5px;
	margin-bottom: 5px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 2px;
    box-shadow: 2px 2px 3px grey;
    border: 1px solid #0070ff;
    border-radius: 4px;
    background-color: #eaeaea;
    cursor: default;
}
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .tags-responsive .tags div>span.close{
	width: 18px;
    height: 18px;
	background-image: url(../images/close-icon.png);
    background-size: cover;
}
/* Disable text selection */
.templatemo-content-container .confirmation>.confirm-buttons>div,
.templatemo-content-container>.preview-widget>.preview-widget-resposive-buttons>div,
.templatemo-content-container>.preview-widget>.preview-widget-buttons>div,
.templatemo-content-container .profile .tab_users .profile-widget-buttons>div,
.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .tags-responsive .tags div>span,
.templatemo-content-container .profile .profile-body .basic-info .main .responsive-buttons>div,
.new-btn{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.templatemo-content-container .profile .tab_users .profile-widget-buttons>div.new-button:hover,
.templatemo-content-container>.preview-widget>.preview-widget-buttons>div.new-button:hover{
	cursor: pointer;
	background-color: greenyellow;
    color: black;
}

.templatemo-content-container>.preview-widget>.preview-widget-buttons>div.delete-button:hover{
	cursor: pointer;
	background-color: red;
	color: black;
}

.templatemo-content-container>.preview-widget>.preview-widget-buttons>.new-button{
	background-color: green;
}

.templatemo-content-container .profile .tab_users .profile-widget-buttons>.new-button{
	font-weight: bold;
	background-color: #a7e5a7;
}

.templatemo-content-container>.preview-widget>.preview-widget-buttons>.new-button::before{
	background: url(../images/plus-sign.png) no-repeat;
}

.templatemo-content-container>.preview-widget>.preview-widget-buttons>.delete-button{
	background-color: darkred;
}

.templatemo-content-container>.preview-widget>.preview-widget-resposive-buttons{
	position: relative;
	padding: 0 10px;
}
.templatemo-content-container>.preview-widget>.preview-widget-resposive-buttons>input.add-button{
   	background-image: url(../images/plus-sign.png);
    background-size: cover;
    border: 1px dashed lightgray;
    border-radius: 3px;
    width: 30px;
    height: 30px;
}
.templatemo-content-container>.preview-widget>.preview-widget-resposive-buttons>input.add-button.active{
	background-color: lightgreen;
}
.templatemo-content-container>.preview-widget>.preview-widget-resposive-buttons>input.delete-button{
   	background-image: url(../images/minus-sign.png);
    background-size: cover;
    border: 1px dashed lightgray;
    border-radius: 3px;
    width: 30px;
    height: 30px;
}
.templatemo-content-container>.preview-widget>.preview-widget-resposive-buttons>input.delete-button.active{
	background-color: red;
}
.templatemo-content-container>.preview-widget>.preview-widget-resposive-buttons>div{
	display: inline-block;
    padding: 5px 50px;
    border-radius: 4px;
    /* z-index: 10; */
    box-shadow: 2px 2px 20px black;
    margin-left: 15px;
    font-weight: bold;
    font-size: 18px;
    background-color: lightgreen;
    color: black;
    font-family: monospace, serif;
    bottom: 21%;
    float: right;
}
.templatemo-content-container>.preview-widget>.preview-widget-buttons>div.save-button{
    display: inline-block;
    padding: 3px 45px;
    border-radius: 4px;
    box-shadow: 2px 2px 20px black;
    margin-left: 15px;
    font-weight: bold;
    font-size: 16px;
    background-color: #c3e5ea;
    color: black;
    font-family: monospace, serif;
    float: right;
}
.templatemo-content-container>.preview-widget>.preview-widget-resposive-buttons>div.save-button:hover,
.templatemo-content-container>.preview-widget>.preview-widget-buttons>div.save-button:hover{
	cursor: pointer;
	background-color: greenyellow;
}

.preview-widget .preview-widget-content .templatemo-content-container{
    padding: 0;
    margin: 0;
}

.templatemo-content-container .profile .tab_users .panel>table>tbody>tr>td,
.preview-widget .preview-widget-content .templatemo-content-container .panel>table>tbody>tr>td{
	color: black;
}
.preview-widget .preview-widget-container::-webkit-scrollbar,
.preview-widget .preview-widget-content::-webkit-scrollbar
{
	display: none;
}

.preview-widget .preview-widget-container{
	/* height: 75%;
    overflow-y: scroll; */
}

.templatemo-content-container .confirmation{
	display: none;
	background-color: #78b1a6;
    position: fixed;
    width: 35%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    top: 10%;
    left: 40%;
    height: 120px;
    z-index: 20;
}

.templatemo-content-container .confirmation .title{
	border-bottom: 2px solid white;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 2px 10px;
    padding: 3px;
}

.templatemo-content-container .confirmation .confirm-msg{
	text-align: center;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bolder;
}

.templatemo-content-container .confirmation>.confirm-buttons{
	position: absolute;
    bottom: 15px;
    right: 30px;
}

.templatemo-content-container .confirmation>.confirm-buttons>div{
	display: inline;
    padding: 3px 23px;
    background-color: ghostwhite;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 5px black;
}

.templatemo-content-container .confirmation>.confirm-buttons>div:hover{
	cursor: pointer;
	background-color: green;
	color: white;
}
.input-group .form-control{
	z-index: 6;
}
.umbrella{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.9);
}
.umbrella .close{
	background: url(../images/close-w.png);
    background-size: cover;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    position: fixed;
    top: 23px;
    left: 20px;
    opacity: 0.7;
}
.umbrella .close:hover{
	opacity: 1;
}
.custom-menu{
	display: none;
	z-index: 1000;
    position: fixed;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #dfdfdf;
    color: #333;
    border-radius: 5px;
    padding: 0;
    font-size: 15px;
    width: 180px;
}
.custom-menu li{
	padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;	
}
.custom-menu li:hover{
	color: white;
	background-color: blue;
}
.templatemo-content-container .search{
	display: none;
    position: fixed;
    top: 290px;
    left: 0px;
    width: 300px;
    z-index: 1005;
    height: 600px;
    color: white;
    border: 1px solid white;
    background-color: rgba(31, 33, 36, 0.95);
}
.templatemo-content-container .search .search-header,
.templatemo-content-container .search-result .result-header{
	background-color: #1f2124;
    padding: 15px 0;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 6px 5px #a3caa2;
}
.templatemo-content-container .search>section{
	padding: 10px;
    height: 80%;
}
.templatemo-content-container .search>section>div{
    margin: 10px 0;
}
.templatemo-content-container .search>section>div:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)){
	display: none;
}
.templatemo-content-container .search>.search-buttons>.add-btn{
	display: none;
}
.templatemo-content-container .search>section>div>label{
	margin: 0;
}
.templatemo-content-container .search>section>div>input{
	display: block;
    font-weight: bold;
    padding: 5px;
    color: black;
    background-color: #f9f9f9;
    width: 100%;
}
.templatemo-content-container .search>section>div>fieldset>input{
    font-weight: bold;
    padding: 5px;
    color: black;
    background-color: #f9f9f9;
    width: 49%;
}
.templatemo-content-container .search>section>div>input,
.templatemo-content-container .search>section>div>fieldset>input{
    background-color: hsla(0, 0%, 100%, 0.45);
    border-radius: 3px;
    background: linear-gradient(to bottom, #dbd8d8 0%, #e8dede 50%, #c1c1c1 77%);
}
.templatemo-content-container .search>section>div>input:hover,
.templatemo-content-container .search>section>div>input:focus{
	background-color: white;
}
.templatemo-content-container .search>section>div>select{
    font-size: 15px;
    width: 100%;
    border: 1px solid white;
    background-color: rgba(20, 20, 100, 0.15);
}
.templatemo-content-container .search>.search-buttons{
    text-align: center;
    padding: 10px;
}
.templatemo-content-container .search>.search-buttons>.search-btn{
	background-color: limegreen;
    padding: 7px 25px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 2px 2px 10px darkgreen;
}
.templatemo-content-container .search>.search-buttons>.go-btn{
	display: none;
	background-size: cover;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    background-color: limegreen;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.templatemo-content-container .search>.search-buttons>.add-btn{
	background: url(../images/plus-sign.png);
    background-size: cover;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    background-color: limegreen;
    border-radius: 5px;
}
.templatemo-content-container .search .control-buttons{
	position: absolute;
    top: 15px;
    left: 5px;
}
.templatemo-content-container .search .control-buttons .close-btn{
	background: url(../images/close-button.png);
    background-size: cover;
    vertical-align: middle;
    width: 23px;
}
.templatemo-content-container .search-result{
	display: none;
    position: absolute;
    z-index: 1000;
    top: 0px;
    right: 0px;
    width: 100%;
    color: white;
    background-color: rgba(0,100,100,0.98);
    box-shadow: #d6b8b8 8px 8px 10px;
    -webkit-transition: top 2s ease-in 1s;
    -o-transition: top 2s ease-in 1s;
    -moz-transition: top 2s ease-in 1s;
    transition: top 1s ease-in 0.2s, width 1s ease-in 0.2s, height 1s ease-in 0.2s, right 1s ease-in 0.2s, opacity 2s ease-in 0.2s;
}
.templatemo-content-container .search-result .tab {
	display: flex;
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.templatemo-content-container .search-result .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 25px;
    transition: 0.3s;
    font-family: serif;
    line-height: 10px;
    font-size: 15px;
    font-weight: bold;
    color: darkblue;
}
/* Change background color of buttons on hover */
.templatemo-content-container .search-result .tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.templatemo-content-container .search-result .tab button.active {
    background-color: #ccc;
}
.templatemo-content-container .search-result .result-body{
	padding: 20px;
}
.templatemo-content-container .search-result .result-body>div{
	display: none;
}
.templatemo-content-container .search-result .result-body legend{
	color: lightgray;
}
.templatemo-content-container .search-result .result-body table>tbody{
	color: black;
}
.templatemo-content-container .search-result .result-body table>tbody>tr{
	cursor: pointer;
}
.templatemo-content-container .search-result .result-body table>tbody>tr:hover{
	background: lightgray;
}
.templatemo-content-container .search-result .result-body table>tbody>tr.selected{
	background: lightgray;
}
.templatemo-content-container .search-result .result-body table>tbody>tr>td{
	vertical-align: middle;
}
.templatemo-content-container .search-result .result-body table>tbody>tr>td:first-child{
	color: white;
	background-color: #39adb4;
}
.templatemo-content-container .search-result .result-body table>tbody>tr>td.photo{
	width: 50px;
	height: 50px;
	padding: 0;
}
.templatemo-content-container .search-result .result-body .pagination-wrap{
	display: none;
	text-align: center;
}
.templatemo-content-container .search-result .result-body .pagination-wrap .pagination{
	margin: 10px 0;
}
.templatemo-content-container .auth-expired,
.templatemo-content-container .server-down{
	display: none;
	position: fixed;
    top: 20%;
    left: 40%;
    width: 500px;
    height: 400px;
    z-index: 1000;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 4px 4px 10px darkgrey;
}
.templatemo-content-container .auth-expired .header,
.templatemo-content-container .server-down .header{
	height: 50px;
    background-color: #b81313;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    padding: 10px;
}
.templatemo-content-container .server-down .header{
	background-color: #ffad02;
}
.templatemo-content-container .auth-expired .header span.title,
.templatemo-content-container .server-down .header span.title{
	position: relative;
    top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.templatemo-content-container .auth-expired .header span.close,
.templatemo-content-container .server-down .header span.close {
    background: url(../images/close-w-icon.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    display: block;
    margin: 5px;
    opacity: 1;
}
.templatemo-content-container .auth-expired .body,
.templatemo-content-container .server-down .body{
    display: table-row;
    height: 250px;
}
.templatemo-content-container .auth-expired .body .icons,
.templatemo-content-container .server-down .body .icons{
	display: table-cell;
    width: 130px;
    text-align: center;
    vertical-align: middle;
}
.templatemo-content-container .auth-expired .body .icons .warning_icon,
.templatemo-content-container .server-down .body .icons .warning_icon{
	background: url(../images/warning-icon-red.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}
.templatemo-content-container .server-down .body .icons .warning_icon{
	background: url(../images/warning-icon-orange.png);
	background-repeat: no-repeat;
    background-size: contain;
}
.templatemo-content-container .auth-expired .body .message,
.templatemo-content-container .server-down .body .message{
	display: table-cell;
    width: 370px;
    vertical-align: middle;
    font-size: 18px;
    padding: 0 10px;
}
.templatemo-content-container .auth-expired .buttons,
.templatemo-content-container .server-down .buttons{
	height: 100px;
    text-align: end;
    padding: 15px 50px;
}
.templatemo-content-container .auth-expired .buttons a.ok,
.templatemo-content-container .server-down .buttons a.ok{
	border: 2px solid #b91313;
    padding: 10px 20px;
    font-weight: bold;
    line-height: 18px;
    color: white;
    background-color: #b61313;
    border-radius: 5px;
}
.templatemo-content-container .server-down .buttons a.ok{
	border: 2px solid #ffad02;
	background-color: #ffad02;
	padding: 5px 40px;
    font-size: 18px;
}
.templatemo-content-container .info-panel{
	float: left;
    display: none;
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.templatemo-content-container .info-panel>div{
	display: inline;
    padding: 13px 21px;
    color: lightslategray;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}

.templatemo-content-container .info-panel>div>select{
	border: 1px solid gray;
	margin-left: 10px;
}

.templatemo-content-container .pagination-wrap.pagination-hidden{
	display: none;
}

.clear{
	clear: both;
}

.preview{
	display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    box-shadow: 7px 7px 10px grey;
    background: rgba(125, 198, 183, 0.9);
}
.preview img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background: url(../images/mazika.png);
    background-size: auto;
    margin: auto;
    vertical-align: middle;
}
img{
	width: 100%;
	height: 100%;
	background: url(../images/mazika.png);
	background-size: cover;
}

.ms-500{
	max-width: 500px;
}
.w-50{
	width: 50px;
}
.w-100{
	width: 100px;
}
.w-120{
	width: 120px;
}
.w-130{
	width: 130px;
}
.w-150{
	width: 150px;
}
.w-200{
	width: 200px;
}
td.tlc{
	text-align: center;
}
td.tc{
	text-align: center;
}
td.tll{
	text-align: left;
}
.autocomplete-dropdown{
	display: inline-block;
}
.cover.dim{
	z-index: 9;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    overflow: hidden;
}
.cu-pagination-wrap{
	display: none;
	text-align: center;
    margin-top: 6px;
}
.pagination>li>a.inactive{
	pointer-events: none;
	background-color: transparent;
	border: none;
	cursor: default;
}
.cu-pagination-wrap>ul.cu-pagination{
	
}
.cu-pagination-wrap>ul.cu-pagination>li{
    display: inline-block;
    font-size: 15px;
}
.cu-pagination-wrap>ul.cu-pagination>li a{
   	color: #ffffff;
    border-radius: 5px;
    padding: 4px 6px;
    vertical-align: middle;
    text-decoration: none;
}
.cu-pagination-wrap>ul.cu-pagination>li a.pages:hover{
	color: #FFEB3B;
	background-color: #39adb4;
}
.cu-pagination-wrap>ul.cu-pagination>li a.pages.active{
	background-color: #39adb4;
}
.cu-pagination-wrap>ul.cu-pagination>li .fa-prev{
	background-image: url(../images/left-arrow.png);
    background-size: cover;
    padding: 15px;
    vertical-align: middle;
}
.cu-pagination-wrap>ul.cu-pagination>li .fa-next{
	background-image: url(../images/right-arrow.png);
    background-size: cover;
    padding: 15px;
    vertical-align: middle;
}


.l-collection>.l-nav {
    margin-bottom: 30px;
}
.g-tabs-large {
    font-size: 24px;
    line-height: 1.6;
}
.g-tabs {
    border-bottom: 1px solid #f2f2f2;
    list-style: none;
    margin: 0;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}
.g-tabs:before, .g-tabs:after {
    content: "";
    display: table;
}
.g-tabs-item:first-child {
    margin-left: 0;
}
.g-tabs-item {
    float: left;
    margin: 0 12px -1px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.g-tabs:after {
    clear: both;
}
.g-tabs-link.active {
    border-color: #f50;
    color: #f50;
    cursor: default;
}
.g-tabs-link, .g-tabs-link:visited {
    cursor: pointer;
    color: #333;
    border-bottom: 1px solid transparent;
    display: block;
}
.profile section.tab_users{
	display: none;
}
.profile section.tab_users .edit_user{
	display: none;
}
input.has-success{
	background-color: #a8e49c;
}
input.has-error{
	background-color: #e49c9c;
}