/* Large screens ----------- */
@media only screen and (min-width : 1510px) and (max-width : 1740px){
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social>input{
	width: 75%;
    color: black;
    background: white;
    vertical-align: middle;
}
}

@media only screen and (min-width : 1340px) and (max-width : 1680px){
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social>input{
		width: 70%;
	    color: black;
	    background: white;
	    vertical-align: middle;
	}
}
@media only screen and (min-width : 1140px) and (max-width : 1340px){
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social>input{
		width: 64%;
	    color: black;
	    background: white;
	    vertical-align: middle;
	}
}

@media only screen and (min-width : 1000px) and (max-width : 1580px){
 	.templatemo-content-container .profile .profile-body .basic-info .general {
 	    margin-left: 0px;
	    float: none;
	    width: 100%;
	    min-width: none;
	    background: rgb(248, 248, 255);
	    border: 2px solid lightgray;
	    box-shadow: 2px 2px 2px darkgrey;
	    padding: 15px;
	    margin-bottom: 10px;
	}
	
	.templatemo-content-container .profile .profile-body .basic-info .main {
	    width: 100%;
	}
	
}

@media only screen and (max-width : 1140px){
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .albums-responsive .album {
	    width: 100%;
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social {
	    width: 100%;
	    display: inline-block;
	    background: rgba(10, 100, 100, 0.3);
	    padding: 2px 2px;
	    line-height: 28px;
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social>input{
		width: 80%;
	    color: black;
	    background: white;
	    vertical-align: middle;
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo{
		width: 25px;
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-facebook{
		background-image: url(../images/socials/facebook-logo.png);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-linked_in{
		background-image: url(../images/socials/linkedin-logo.png);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-google_plus{
		background-image: url(../images/socials/google-plus-logo.png);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-vine{
		background-image: url(../images/socials/vine-logo.jpeg);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-flickr{
		background-image: url(../images/socials/flickr-logo.jpg);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-instagram{
		background-image: url(../images/socials/instagram-logo.png);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-quora{
		background-image: url(../images/socials/quora-logo.png);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-reddit{
		background-image: url(../images/socials/reddit-logo.png);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-biz_sugar{
		background-image: url(../images/socials/bizsugar-logo.jpeg);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-ask_fm{
		background-image: url(../images/socials/ask-fm-logo.png);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-youtube{
		background-image: url(../images/socials/youtube-logo.png);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-meetup{
		background-image: url(../images/socials/meetup-logo.jpg);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-pinterest{
		background-image: url(../images/socials/pinterest-logo.png);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-tumblr{
		background-image: url(../images/socials/tumblr-logo.png);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-vk{
		background-image: url(../images/socials/vk-logo.png);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-snapchat{
		background-image: url(../images/socials/snapchat-logo.png);
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .socials-responsive .socials .social .logo.fa-co-twitter{
		background-image: url(../images/socials/twitter-logo.png);
	}
}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1000px) {
  .templatemo-content-container .profile .profile-body .basic-info .general {
 	    margin-left: 0px;
	    float: none;
	    width: 100%;
	    min-width: none;
	    background: rgb(248, 248, 255);
	    border: 2px solid lightgray;
	    box-shadow: 2px 2px 2px darkgrey;
	    padding: 15px;
	    margin-bottom: 10px;
	}
	.templatemo-content-container .profile .profile-body .basic-info .main {
	    width: 100%;
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .url{
	    display: table;
	    width: 100%;
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .url>label{
		width: 150px;
	    display: table-row;
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .url>input{
	    width: 100%;
	    display: table-row;
	}
	.templatemo-content-container>.preview-widget>.preview-widget-container>.preview-widget-content .search input[type='text']{
	    width: 380px;
	}
	.templatemo-content-container .search{
	    display: none;
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 300px;
	    z-index: 1000;
	    color: white;
	    background-color: rgba(0, 100, 110, 0.95);
	}
	.templatemo-content-container .confirmation {
	    display: none;
	    background-color: #78b1a6;
	    position: fixed;
	    width: 400px;
	    border-radius: 5px;
	    box-shadow: 2px 2px 10px black;
	    top: 10%;
	    left: 25%;
	    height: 120px;
	    z-index: 20;
	}
	.templatemo-content-container>.preview-widget .preview-widget-title{
		font-size: 15px;
		margin: 0 1%;
	}
	.templatemo-content-container .auth-expired{
	    left: 20%;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 767px) {
	.templatemo-top-nav-container .row .buttons {
	    display: flex;
	    position: absolute;
	    top: -10px;
	    right: 5px;
	}
	.templatemo-top-nav-container .row .buttons .profile-btn {
	    width: 38px;
	    height: 38px;
	}
	.templatemo-top-nav-container .row .buttons .profile-btn img {
		border-radius: 0;
	    opacity: 0.7;
	}
}